<% content_for :section_title, "Mi Cuenta" %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <!-- general form elements -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Información de cuenta</h3>
      </div><!-- /.box-header -->
      <!-- form start -->
      <%= form_for @admin, url: profile_path(@admin.id), method: "put" do |f|%>
        <div class="box-body">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :name, "Nombres" %>
              <%= f.text_field :name, class: "form-control", placeholder: "Ingresa tu nombre"  %>
            </div>
            <div class="form-group">
              <%= f.label :last_name, "Apellidos" %>
              <%= f.text_field :last_name, class: "form-control", placeholder: "Ingresa tu apellido"  %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :job, "Cargo" %>
              <%= f.text_field :job, class: "form-control", placeholder: "Ingresa tu cargo"  %>
            </div>
            <div class="form-group">
              <%= f.label :email, "Email" %>
              <%= f.email_field :email, class: "form-control", placeholder: "Ingresa tu email"  %>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      <% end %>
    </div><!-- /.box -->
  </div>
</div>